Package: com.zcodemt.mcuikit
Name: MCUIKit
Architecture: iphoneos-arm
Version: 0.1.0-1
Section: Minecraft
Description: MCUIKit is a framework which implements Minecraft Pocket Edition UI features in Objective-C. Source at https://github.com/ZCodeMT/MCUIKit.
Author: ZCodeMT
Maintainer: ZCodeMT
Depends:


